* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

.espacioBanderin{
    max-width: 1200px;
    position: relative;
    left: -10px;
}

.titulo_espacioBanderin{
    z-index: 3;
    font-size: 30px;
    color: #f89967;
    position: relative;
    top: 1rem;
    background: white;
    padding: 1rem;
    display: inline-block;
}

.contenedor_espacioBanderin{
    display: flex;
    height: 385px;
    border-bottom: 2px solid #f89967;
    border-right: 2px solid #f89967;
    border-top: 2px solid #f89967;
    padding: 40px;
    position: relative;
    z-index: 2;
}

button {
--s: .25em; /* controlar ondas*/

padding: .4em .5em;
background-color: #BF4D28;
color: #fff;
--_s: calc(var(--s)*2) 51% repeat-x;
--_r: calc(1.345*var(--s)) at left 50%;
--_g1: #000 99%,#0000 101%;
--_g2: #0000 99%,#000 101%;
--mask:
    radial-gradient(var(--_r) top    calc(var(--s)* 1.9),var(--_g1)) 
    calc(50% - 2*var(--s) - var(--_i,0px)) 0/var(--_s),
    radial-gradient(var(--_r) top    calc(var(--s)*-0.9),var(--_g2)) 
    calc(50% - var(--_i,0px)) var(--s)/var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s)* 1.9),var(--_g1)) 
    calc(50% - 2*var(--s) + var(--_i,0px)) 100%/var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s)*-0.9),var(--_g2)) 
    calc(50% + var(--_i,0px)) calc(100% - var(--s))/var(--_s);
-webkit-mask: var(--mask);
        mask: var(--mask);
clip-path: polygon(
    calc(0*var(--s) - var(--_i,0px)) 0,
    calc(100%       - var(--_i,0px)) 0, 
    calc(100% - var(--s)) 50%,
    calc(100% - 0*var(--s) + var(--_i,0px)) 100%,
    calc(0%                + var(--_i,0px)) 100%, 
    var(--s) 50%);
cursor: pointer;
transition: .5s ease-in-out;
}
button.alt {
clip-path: polygon(
    calc(0%                - var(--_i,0px)) 0,
    calc(100% - 2*var(--s) - var(--_i,0px)) 0, 
    calc(100% - var(--s)) 50%,
    calc(100%       + var(--_i,0px)) 100%,
    calc(2*var(--s) + var(--_i,0px)) 100%, 
    var(--s) 50%);
}
button:active {
background-image: linear-gradient(#0004 0 0);
}
button:focus-visible {
-webkit-mask: none;
clip-path: none;
outline-offset: .1em;
padding-block: .2em;
margin-block: .2em;
transition: 2s;
}

button {
font-family: system-ui, sans-serif;
font-weight: bold;
font-size: 1rem;
margin: 0;
cursor: pointer;
border: none;
}



.fondo_espacioBanderin{
    background-color: #cce7d4;
    width: 80%;
}

.texto_espacioBanderin{
    font-size: 24px;
    margin:3rem;
    color: #c9825b;
}

.contenedor_imagen{
    width: 40%;
    background-color: #cce7d4;

}

.imagen_espacioBanderin{
    width: 340px;
    top: 6px;
    position: absolute;
}

.ingresar{
    position: absolute;
    top: 422px;
    left: 520px;
}

.novedades{
    z-index: 0;
    padding: 4rem 0;
    position: absolute;
    top: 32rem;
    width: 100%;
    background-color: rgb(232, 233, 235);
}

.contedor_novedades{
    align-content: center;
    max-width: 1200px;
}

.subtitulo_novedades{
    font-size: 30px;
    color: rgb(201, 130, 91);
    font-weight: 700;
    padding: 1rem;
}

.texto{
    font-size: 24px;
    color: #c9825b;
    margin: 1rem 0;
    padding: 1rem;
}

.contactoForm{
    color:#f89967;

}

.inputs{
    padding: 0.8rem;   
}

.buttonPrimary{
    padding: 0.8rem 2rem;
    margin: 0 1rem;
    background-color: #f89967;
    color: white !important;
    border: none !important;
}

.buttonPrimary:hover{
    background-color: #e86621;
    cursor: pointer;
}

footer{
    background-color: rgb(248, 153, 103);
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 842px;
}

.footer{
    max-width: 1200px;
    background-color: #f89967;
    display: flex;
    justify-content: space-around;
}

.links{
    margin: 3rem;
    text-decoration: none;
    color: white !important;
    padding: 1rem;
    border-radius: 10px;
}

.links:hover{
    background-color: #e86621;
}

@media (max-width: 1024px) {
    .imagen_espacioBanderin {
        width: 28%;
        top: 10px;
        right: 50px;
    }
    .contenedor_espacioBanderin {
        height: auto;
    }
    .ingresar {
        position: absolute;
        top: 310px;
        left: 450px;
    }
    .contedor_novedades {
        padding-left: 1rem;
    }
}

@media (max-width: 768px) {
    .ingresar {
        position: absolute;
        top: 425px;
        left: 510px;
    }
    .imagen_espacioBanderin {
        width: 30%;
        top: 100px;
        right: 62px;
    }
}

@media (max-width: 425px) {
    .imagen_espacioBanderin {
        width: 190px;
        top: 263px;
        border-radius: 10px;
        right: -16px;
    }
    .espacioBanderin {
        width: 100%;
        position: relative;
        left: 10%;
    }
    .texto_espacioBanderin {
        font-size: 16px;
        color: #c9825b;
    }
    .fondo_espacioBanderin {
        background-color: #cce7d4;
        width: 100%;
    }
    .contenedor_imagen {
        width: 0%;
        background-color: #cce7d4;
    }
    .contenedor_espacioBanderinspan{
        padding: 15px;
    }
    .novedades {
        z-index: 0;
        padding: 4rem 0;
        position: absolute;
        top: 37rem;
        left: 0px;
        width: 125%;
        background-color: rgb(232, 233, 235);
    }
    .ingresar {
        position: absolute;
        top: 429px;
        left: 60px;
    }
    .buttonPrimary {
        padding: 0.8rem 2rem;
        /* margin: 0; */
        width: auto;
        background-color: #f89967;
        color: white !important;
        border: none !important;
    }
    .contactoForm {
        color: #f89967;
        display: flex;
        width: 44%;
        flex-direction: column;
    }
    .footer {
        /* max-width: 1200px; */
        background-color: #f89967;
        display: flex;
        justify-content: space-around;
    }
    footer {
        background-color: rgb(248, 153, 103);
        text-align: center;
        color: white;
        position: absolute;
        width: 125%;
        top: 980px;
    }
    .links{
        margin: 3rem 0rem;
    }   
}

@media (max-width: 375px) {
    .imagen_espacioBanderin {
        display: none;
    }
    .ingresar {
        position: absolute;
        top: 440px;
        left: 110px;
    }
    footer{
        width: 125%;
        top: 1034px;
    }
    .contactoForm{
        width: 50%;
    }
}

@media (max-width: 320px) {
    .contactoForm {
        color: #f89967;
        display: flex;
        width: 58%;
        flex-direction: column;
    }
    .imagen_espacioBanderin {
        display: none;
    }
    .texto_espacioBanderin{
        margin: 3rem 1rem;
    }
    .ingresar {
        position: absolute;
        top: 443px;
        left: 80px;
    }
    footer{
        top: 1016px;
    }
}