*{
    margin: 0;
    padding: 0;
}

:root{
    --color-naranja: #f2794c;
    --color-mostaza: #d79d22;
    --color-pastel: #fed9a2;
    --color-blanco: #f8e6d8;
    --color-celeste: #cce7d4;
    --tipografia-primaria: 'Playfair Display', serif;
    --tipografia-secundaria: 'Roboto', sans-serif;
}