*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TITULO */
.qSomos h1{
    display: flex;
    justify-content: flex-start;
    color: #e59f5f;
    margin: 4%;
}
/* HR */
.linea{
    border: solid 1px #e59f5f;
    margin: 3%;
    size: 40px;
}
/* CONTAINER DE LA IMAGEN */
.carrousel{
    width:80%;
    margin: 2% 10%  2% 10%;
}

.carrousel img{
    max-width: 100%;
}
/* Container del texto*/
.texto{
    width: 100%;
    background-image: url(./assets/q.Somos.png);
}

.texto p {
    padding: 2%;
    margin: 3%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #e59f5f;
}

@media (min-width: 700px){
    .qSomos{
        display:flex;
        flex-direction: column;
        flex: wrap;
    }
    .linea{
        margin: 2%;
        size: 40px;
    }
    .texto{
        margin-bottom: 2%;
        width: 70%;
        order: 1;
        background-image: none;
        padding-top: 2%;
    }
    .texto p {
        width: 100%;
        margin-top: 0;
    }
    .container{
        display: flex;
        width: 100%;
    }
    .carrousel{
        flex-wrap: wrap;
        order: 2;
        width: 30%;
        margin: 2%;
        
    }
    .carrousel img{
        max-width: 100%;
        font-size: 16px;}

    /*.fondo{
        display: flex;
        order: 3;
        width: 100%;
        
    }*/

    }


:root{
    --color-naranja: #f2794c;
    --color-mostaza: #d79d22;
    --color-mostaza-ligth:#d79e22c4;
    --color-pastel: #fed9a2;
    --color-blanco: #fff;
    --color-celeste: #cce7d4;
    --tipografia-primaria: 'Playfair Display', serif;
    --tipografia-secundaria: 'Roboto', sans-serif;
}

