.hero-bg{
    width: 100%;
    height: 500px;
    background-color: var(--color-celeste);
}

.hero-h1{
    font-family: var(--tipografia-primaria);
    font-size: 55px;
    color: var(--color-mostaza);
    padding-bottom: 30px; 
}
.btn-mostaza{
    background-color: var(--color-mostaza);
    color: var(--color-blanco);
    padding: 1rem;
}
.btn-mostaza:hover{
    background-color: var(--color-mostaza-ligth);
    color: var(--color-blanco);
}

@media (max-width: 425px) {
    .hero-h1{
        font-size: 2.5rem;
    }
    .hero-bg{
        width: 100%;
        height: 500px;
        display: flex;
        background-color: var(--color-celeste);
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .hero-h1{
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .hero-container{
        padding: 1rem;
        text-align: center;
    }
    .hero-bg{
        width: 100%;
        height: 500px;
        display: flex;
        background-color: var(--color-celeste);
        align-items: center;
        justify-content: center;
    }
    }
}